*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
background-color: rgb(133, 185, 11);
padding: 34px;
margin: auto;
}

.container h3{
    text-align: center;
}

.container p{
    text-align: center;
}